

.input{
	width: 366px;
	height: 40px;
	border-radius: 4px ;
	background: var(--lightest-grey1);
	border: none;
	font-family: 'Avenir-Medium';
		font-size: 14px;
	color: var(--text);
	padding-left: 12px;
}
.input:hover{
	background: var(--lightest-grey);
}

.input:focus {
		background: var(--lightest-grey1);
		box-shadow: 0px 0px 5px #D9D9D9;
		outline: none;
	}
.input:disabled{
	color: var(--lightest-grey);
}
@media (max-width: 767px){
	.input{
			width: 327px;
	}

}
@media (max-width: 1080px){
	.input {
			width: 352px;
		}
}
