.mainLayout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100vw;
}

.contentWrapper {
	display: flex;
	flex: 1;

}

.sidebarPlaceholder {
	width: 140px;
}

.content {
	flex: 1;
	padding: 32px 80px;
	width: 100vw;
}
@media (max-width: 1080px) {

	.content {
		padding: 25px 55px;
	}
}
/* Adjust margin for mobile view */
@media (max-width: 767px) {
	.sidebarPlaceholder {
		width: 0;
	}

	.content {
		padding: 16px;
	}
}