html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.mainLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.contentWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.headerPlaceholder {
  height: 80px;
  width: 100%;
}

.sidebarPlaceholder {
  width: 140px;
}

.content {
  flex: 1;
  padding: 32px 80px;

  width: 100vw;
  position: relative;
}

@media (max-width: 1080px) {
  .content {
    padding: 20px 50px;
  }
  .sidebarPlaceholder {
    width: 110px;
  }
  .headerPlaceholder {
    height: 70px;
  }
}

@media (max-width: 767px) {
  .sidebarPlaceholder {
    width: 0;
  }
  .content {
    padding: 16px 0;
  }
  .headerPlaceholder {
    height: 62px;
  }
}
