.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}
.input {
  width: 354px;
  height: 40px;
  border-radius: 4px;
  background: var(--lightest-grey1);
  border: none;
  font-family: "Avenir-Medium";
  padding-block: 0;
  padding-inline: 0;
  padding-left: 12px;
}
.input:hover {
  background: var(--lightest-grey);
}

.input:focus {
  background: var(--lightest-grey1);
  box-shadow: 0px 0px 5px #d9d9d9;
  outline: none;
}
.input:disabled {
  color: var(--lightest-grey);
}

.passwordToggleIcon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  width: 16px;
  /* Adjust size as needed */
  height: 16px;
  /* Adjust size as needed */
}
.errorContainer .input {
  border: 1px solid var(--lightest-red);
}
.errorContainer .input:focus {
  box-shadow: 0px 0px 4px var(--lightest-red);
}

@media (max-width: 1080px) {
  .input {
    width: 331px;
  }
}
@media (max-width: 767px) {
  .input {
    width: 315px;
  }
}
