.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--text);
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: 100%;
  max-width: 364px;
  height: 100%;
  max-height: 380px;
}

.card:hover {
  transform: scale(1.02);
}

.head {
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
  height: 100%;
  width: 100%;
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  width: auto;
  max-width: 150px;
  height: 65%;
  max-height: 150px;
}

.details {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
  font-size: 18px;
  color: var(--white);
}

.year {
  font-size: 14px;
  color: var(--light-grey);
}

@media (max-width: 1080px) {
  .card {
    width: 100%;
    max-width: none;
  }
  .head {
    height: 270px;
  }
}

@media (max-width: 756px) {
  .head {
    height: 107px;
  }

  .name {
    font-size: 15px;
  }

  .year {
    font-size: 13px;
  }
}
