.selectContainer .custom__control {
  border: 1px solid var(--lightest-grey);
  border-radius: 4px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--white);
  font-family: "Avenir-Medium";
  width: 366px;
  overflow: hidden;
}

.selectContainer .custom__placeholder {
  color: var(--grey);
}

.selectContainer .custom__multi-value {
  background-color: var(--red-default);
  color: var(--white);
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-right: 4px;
  height: 24px;
}
.selectContainer .custom__dropdown-indicator {
  color: var(--grey);
  cursor: pointer;
  padding: 0 8px;
}

.selectContainer .custom__multi-value__label {
  color: var(--white);
}

.selectContainer .custom__multi-value__remove {
  color: var(--white);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.selectContainer .custom__menu {
  z-index: 1000;
}

.selectContainer .custom__option {
  cursor: pointer;
  color: var(--light-grey);
  border-bottom: 1px solid var(--lightest-grey);
}

.selectContainer .custom__option--is-focused {
  background-color: var(--dark-red);
  color: white;
}

.selectContainer .custom__option--is-selected {
  background-color: var(--dark-red);
  color: white;
}
@media (max-width: 756px) {
  .selectContainer .custom__control {
    width: 351px;
  }
}
