.container {
  display: flex;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main {
  flex: 1;
}

.head {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: grid;
  gap: 20px;
  margin: 25px 0;
}

.cards.six {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 784px;
  width: 1140px;
}

.cards.twelve {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 784px;
  width: 1140px;
}

.cards.twentyfour {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 1140px;
}

.emptyPage {
  background-color: var(--white);
  width: 516px;
  height: 530px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  justify-content: center;
}

.headText {
  font-family: "Avenir-Black";
  font-size: 36px;
  color: var(--lightest-red);
  margin-top: 48px;
}

.text {
  font-family: "Avenir-Book";
  font-size: 24px;
  color: var(--grey);
  margin-top: 24px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 12px;
  font-size: 14px;
  margin: 0;
}

.pagination li {
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);
}

.pagination .active {
  color: var(--white);
  background-color: var(--red-default);
}

.pagination a {
  padding: 5px 10px;
  cursor: pointer;
}

@media (max-width: 1080px) {
  .emptyPage {
    height: 474px;
    width: 453px;
  }
  .headText {
    font-size: 30px;
  }
  .emptyPage img {
    width: 359px;
    height: 245px;
  }
  .text {
    font-size: 20px;
  }
  .cards.six {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards.twelve {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards.twentyfour {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 756px) {
  .empty {
    align-items: baseline;
  }
  .sidebarPlaceholder {
    width: 0;
  }
  .main {
    padding: 0%;
  }
  .content {
    margin-left: 0;
  }
  .head {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .empty {
    justify-content: start;
  }
  .emptyPage {
    height: 434px;
    width: 100%;
    border-radius: 0%;
  }
  .headText {
    font-size: 18px;
  }
  .emptyPage img {
    width: 339px;
    height: 225px;
  }
  .text {
    margin-top: 16px;
    font-size: 15px;
  }
}
