.container {
	display: flex;
}

.main {
	flex: 1;
	
}

.head{
	display: flex;
	justify-content: space-between;
}
@media (max-width: 767px) {
	
	.sidebarPlaceholder {
		width: 0;
	}
.main{
	padding: 0%;
}
	.content {
		margin-left: 0;
	}
	.head{
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}
}
