

.search{
	width: 364px;
	height: 40px;
	border-radius: 4px ;

	background: var(--white);
	border: none;

	font-family: 'Avenir-Medium';
		font-size: 14px;
		font-weight: 500;
		line-height: 24px;
		padding-inline: unset;
	color: var(--text);

}
.search:hover{
	box-shadow: 0px 0px 2px #D9D9D9;
		outline: none;
}

.search:focus {
		box-shadow: 0px 0px 5px #D9D9D9;
		outline: none;
	}
.search:disabled{
	color: var(--lightest-grey);
}
@media (max-width: 1080px) {
	.search {
		width: 320px;
		height: 36px;
	}
}
 @media (max-width: 767px) {
 	.search {
 		width: 351px;
 		height: 40px;
 	}
 }
 

