.container {
	display: flex;
}

.main {
	flex: 1;

}

.head {
	display: flex;
	justify-content: space-between;
	gap: 8px;
}

.cards {
	margin: 25px 0;
}

@media (max-width: 767px) {

	.sidebarPlaceholder {
		width: 0;
	}

	.main {
		padding: 0%;
	}

	.content {
		margin-left: 0;
	}

	.head {
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}
}

@media (max-hight: 900px) {}