.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.filters {
  display: flex;
  gap: 24px;
  flex-direction: row;
  width: 100%;
  max-width: 754px;
}

.cards {
  display: grid;
  gap: 24px;
  margin-top: 25px;
  justify-items: center;
  flex: 1;
}

.cards.six {
  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: 380px;
}

.cards.six .card {
  max-width: 364px;
  height: 380px;
}

.cards.twelve {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 18px;
}

.cards.twentyfour {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 18px;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.emptyPage {
  background-color: var(--white);
  width: 516px;
  height: 530px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  justify-content: center;
}

.headText {
  font-family: "Avenir-Black";
  font-size: 36px;
  color: var(--lightest-red);
  margin-top: 48px;
}

.text {
  font-family: "Avenir-Book";
  font-size: 24px;
  color: var(--grey);
  margin-top: 24px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  bottom: 0;
  flex-shrink: 0;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 12px;
  font-size: 14px;
  margin: 0;
}

.pagination li {
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey);
}

.pagination .active {
  color: var(--white);
  background-color: var(--red-default);
}

.pagination a {
  cursor: pointer;
}
.spinner {
  margin-top: 50px;
}
.errorContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.errorLoad {
  color: var(--red-default);
  font-family: "Avenir-Book";
  font-size: 20px;
  margin-top: 50px;
}

@media (max-width: 1080px) {
  .emptyPage {
    height: 474px;
    width: 453px;
  }
  .headText {
    font-size: 30px;
  }
  .emptyPage img {
    width: 225px;
    height: 225px;
  }
  .text {
    font-size: 20px;
  }
  .cards.six {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards.twelve {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards.twentyfour {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 756px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main {
    width: 100%;
    width: calc(100% - 24px);
  }
  .button {
    width: 351px;
  }

  .head {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .filters {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .cards {
    display: grid;
    gap: 12px;
    justify-items: center;

    margin: 16px 0;
  }
  .cards.six {
    grid-template-rows: repeat(3, 1fr);
  }
  .cards.six,
  .cards.twelve,
  .cards.twentyfour {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 201px;
  }
  .cards .card {
    height: 201px;
  }
  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .emptyPage {
    height: 434px;
    width: 100%;
    border-radius: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .headText {
    font-size: 18px;
    color: var(--lightest-red);
  }

  .text {
    margin-top: 16px;
    font-size: 15px;
    color: var(--grey);
  }

  .pagination {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    font-size: 14px;
  }

  .pagination li {
    height: 28px;
    width: 28px;
  }
}
